*{
    margin:40px;
  }

body{ text-align: center;
    background-color: yellow;
    font-size: 30px;

}

.hide{
  display: none;
}

h1,h2{
  font-family: 'Emilys Candy', cursive;
  color: blueviolet
}

p{
    font-family: 'Chelsea Market', cursive;
    color: fuchsia
}

button{
    font-family:Verdana,Helvetica;
    font-weight:bold;
    width:110px;
    height:30px;
    border-radius:9px;
    margin:40px;
}

#cont1 {
  color:blueviolet
}


]